@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
body {
  background: #fafafa;
  width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-family: 400;
}

.width-wrapper {
  padding-left: 8% !important;
  padding-right: 8% !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15vh;
}

.header-logo {
  height: 1.5rem;
  width: auto;
}

.nav-items,
.nav-btn_close {
  display: none;
}

.hero-img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero-img img {
  width: 100%;
}

.hero-content {
  padding: 0 8%;
  position: relative;
  height: 105vh;
  background: url("../images/mobile/bg-pattern-intro-left-mobile.svg") no-repeat, url("../images/mobile/bg-pattern-intro-right-mobile.svg") no-repeat right bottom;
  color: white;
  text-align: center;
}

.hero-content h1 {
  padding-top: 30%;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.8rem;
}

.hero-content p {
  padding: 1rem 0 2rem;
  line-height: 1.5rem;
}

.hero-content span {
  margin: 1rem 0;
}

.hero-content span a {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: 2px solid white;
  padding: 0.75rem 1.75rem;
  color: white;
  font-weight: 700;
}

.hero-content::after {
  content: '';
  position: absolute;
  display: block;
  background: #2d2640;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25%;
  z-index: -1;
}

.hero-content hr {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1rem;
  color: #e2dfec;
  width: 40%;
}

.about-us {
  padding-bottom: 5rem;
  text-align: center;
}

.about-us h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.card-wrapper {
  padding: 2rem 0;
}

.card {
  padding: 2rem 0;
}

.card h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1.25rem 0;
}

.card p {
  color: #837d87;
  line-height: 1.5rem;
}

.cta {
  color: white;
  padding: 2rem 0;
}

.cta-wrapper {
  padding: 3rem 2rem;
  background: url("../images/mobile/bg-pattern-how-we-work-mobile.svg") no-repeat top right, #2d2640;
  text-align: center;
}

.cta-wrapper h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem 0;
}

.cta-wrapper a {
  display: inline-block;
  margin: 1rem 0;
  border: 2px white solid;
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  color: white;
}

.footer {
  margin-top: 8rem;
  text-align: center;
}

.nav-top {
  padding-top: 5rem;
  background: url("../images/mobile/bg-pattern-footer-mobile.svg") no-repeat;
  background-size: cover;
}

.nav-top .footer-logo {
  height: 1.5rem;
  width: auto;
}

.nav-top .social-links {
  display: block;
  padding: 2rem 0;
}

.nav-top .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-top .social-links ul li {
  padding: 0 0.5rem;
}

.nav-top::after {
  content: '';
  display: block;
  margin: 0 8%;
  border-bottom: 1px solid #cfcdd0;
}

.footer {
  padding-bottom: rem;
}

.nav-footer {
  padding: 2rem 0;
}

.nav-footer-card {
  text-transform: uppercase;
}

.nav-footer-card h4 {
  padding: 1rem 0;
  color: #837d87;
  font-weight: 700;
}

.nav-footer-card ul {
  text-align: center;
}

.nav-footer-card li {
  padding: 0.25rem 0;
  color: #2d2640;
  font-weight: 700;
}

@media only screen and (min-width: 769px) {
  .header {
    height: 6rem;
  }
  .hero {
    padding: 5% 8% 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../images/desktop/bg-pattern-intro-left-desktop.svg") no-repeat left bottom, url("../images/desktop/bg-pattern-intro-right-desktop.svg") no-repeat right top;
  }
  .hero::after {
    content: '';
    position: absolute;
    display: block;
    background: #2d2640;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25%;
    z-index: -1;
  }
  .hero-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .hero-content {
    padding: 0 3rem 0 0;
    text-align: unset;
    background: unset;
  }
  .hero-content::after {
    all: unset;
  }
}
/*# sourceMappingURL=styles.css.map */